body {
	background-color: #e9edf9;
}

.container {
	max-width: calc(51.75rem + 15px) !important;
}

.topbar {
	background-color: #fff;
	box-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
	padding: 0.75rem 0px;
}

.topbar .topbar-user {
	color: #001532;
	font-size: 0.875rem;
}

.topbar .topbar-avatar {
	border-radius: 50%;
	height: 2rem;
	object-fit: cover;
	object-position: center;
	margin-left: 0.75rem;
	width: 2rem;
}

.logo {
	width: 5rem;
}

main {
	padding-top: 2.5rem;
}

main .container > .row > * {
	margin-bottom: 1rem;
}

.section {
	background-color: #fff;
	border-radius: 0.625rem;
	box-shadow: 0px 0.5rem 1rem rgb(0 0 0 / 15%);
	font-size: 0.875rem;
	padding: 1.5rem;
}

.title {
	color: #3d3fb5;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.value {
	font-size: 1.375rem;
}

#exchange {
	background-image: url(../../img/background-exchange.png);
	background-size: cover;
	background-position: bottom center;
	color: #fff;
}

#exchange .title {
	margin-bottom: 0.875rem;
}

#exchange .value {
	font-weight: 700;
}

#exchange .value small {
	font-size: 1.125rem;
	font-weight: 700;
}

#exchange #marketcap {
	font-size: 1.5rem;
	margin-top: -0.5rem;
}

.section.video-container .title {
	color: inherit;
	margin-bottom: 1.5rem;
	text-align: center;
}

.modal-content {
	border-radius: 0.625rem;
	padding: 2.5rem 1.75rem;
}

.modal-content #address {
	font-size: 1.625rem;
}

.modal-open .topbar,
.modal-open main {
	filter: blur(0.125rem);
}

@media (min-width: 576px) {
	.section p {
		font-size: 1.25rem;
	}

	.modal-content {
		padding: 3rem;
	}
}

@media (min-width: 768px) {
	main .container > .row > * {
		margin-bottom: 1.875rem;
	}
}

@media (min-width: 992px) {
	main {
		padding-top: 5rem;
	}

	.section {
		padding: 2.5rem 3.25rem;
	}

	.section.video-container {
		padding: 2rem;
	}
}
