.form-group {
	position: relative;
	margin-bottom: 0px;
}

.form-group + .form-group {
	margin-top: 2.375rem;
}

.form-label {
	background-color: #fff;
	color: #4d4d4d;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0px;
	padding: 0px 0.25rem;
	position: relative;
}

.form-group .form-label {
	left: 1.5rem;
	position: absolute;
	top: -0.6875rem;
}

.form-input {
	border: 0.125rem solid #eeeeee;
	border-radius: 0.625rem;
	display: block;
	padding: 0.875rem 1.25rem;
	outline: none;
	width: 100%;
}

.form-input::placeholder {
	color: #b3b3b3;
}

.form-captcha {
	display: block;
	margin-top: 1.75rem;
	max-width: 100%;
}

.form-group-password .form-input {
	padding-right: 3rem;
}

.form-group .form-icon-button {
	background-color: transparent;
	border: none;
	display: flex;
	margin: 0px;
	outline: none;
	padding: 0px;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.form-group .form-icon-button svg {
	color: #e2e2e2;
	height: 1.5rem;
	width: 1.5rem;
}

.form-button {
	border: none;
	border-radius: 0.625rem;
	background-color: #2b0b7a;
	background-image: linear-gradient(to right, #2b0b7a 51%, #547efc);
	color: #fff;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	padding: 0.9375rem 1.25rem;
	text-align: center;
	text-transform: uppercase;
	transition: opacity 0.3s ease;
	width: 100%;
}

.form-button.form-button-cancel {
	background-color: #9f9f9f;
	background-image: none;
}

.form-button:hover,
.form-button:focus {
	opacity: 0.7;
}

.form-link {
	color: #2b0b7a !important;
	text-decoration: underline;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #2b0b7a;
	background-color: #2b0b7a;
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(43, 11, 122, 0.25);
}
